<article id="articles">
  <article id="title">
    <h1>1st Stratton
      <nobr>St Margaret</nobr>
      Scout Group
    </h1>
    <h2>Latest news from the group</h2>
  </article>
  <div class="postFilters">
    <input class="searchBox" type="text" name="search">
    <div class="button button--large search">
      <a href="">Search</a>
    </div>
    <div class="button button--large reset">
      <a href="">Reset filters</a>
    </div>
  </div>
  <div class="posts"></div>
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div class="postControls">
    <div class="button button--large">
      <a href="">More articles</a>
    </div>
  </div>
</article>
<aside class="articleAside">
  <div class="articleAside__image"></div>
  <div class="articleAside__map" id="map"></div>
</aside>