<nav>
  <ul>
    <li>
      <img src="images/nav-section-3.jpg" alt="">
      <h2>About Us</h2>
      <p>1st Stratton has three sections meeting on a weekely basis to offer a balanced range of activities, events and experiences.</p>
    </li>
    <li>
      <img src="images/nav-section-4.jpg" alt="">
      <h2>Volunteer</h2>
      <p>You don’t have to be an adventurer like Bear Grylls to get involved with Scouting. We all have useful skills and you can volunteer and help in many ways.</p>
    </li>
    <li>
      <img src="images/nav-section-1.jpg" alt="">
      <h2>Badges And Awards</h2>
      <p>Did you know that as well as hiking, healthy eating and camping badges, our Scouts can develop skills in IT, PR and mechanics?</p>
    </li>
  </ul>
</nav>