<article id=quick-links>
  <ul>
    <li>
      <a href="https://goo.gl/wG7pdL">
        <img src="images/contact-icon.svg" alt="">
        <h2>Contact Us</h2>
        <p>Have you got a question for us or want to let us know what you have been thinking about? Fill out our contact form and someone will get back to you. </p>
      </a>
    </li>
    <li>
      <a href="https://goo.gl/9qF2Ov">
        <img src="images/waiting-list-icon.svg" alt="">
        <h2>Waiting List</h2>
        <p>If you are in the local community and want be a part of the adventure fill out our waiting list form and get involved.</p>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/newsletter-icon.svg" alt="">
        <h2>Newsletter</h2>
        <p>Coming soon! Our newsletter has everything you need to know about what the group has been up to and any important future events.</p>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/gb/app/my-badges-scout-association/id429387936?mt=8">
        <img src="images/badge-icon.svg" alt="">
        <h2>Badges</h2>
        <p>There are a huge number of badges available to young people across all sections of Scouting.</p>
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="http://www.swindonnorthscouts.org.uk/">
        <img src="images/swindon-north-icon.svg" alt="">
        <h2>Swindon North</h2>
        <p>With 14 Scout groups and 6 Explorer units the Swindon North website is home for everything Scouting in the district.</p>
      </a>
    </li>
    <li>
      <a href="http://scouts.org.uk/home/">
        <img src="images/flur-de-les.svg" alt="">
        <h2>Scouting UK</h2>
        <p>We are the UK's biggest mixed youth organisation. We change lives by offering  fun and challenging activities, unique experiences and everyday adventure. </p>
      </a>
    </li>
    <li>
      <a href="http://scouts.org.uk/get-involved/">
        <img src="images/join-icon.svg" alt="">
        <h2>Join Today</h2>
        <p>Are you ready? Find out about Scouting near you now.</p>
      </a>
    </li>
  </ul>
</article>