<article id="sections">
  <section id="sections__beavers">
    <h2><img src="/images/beavers-logo.svg" alt="Beavers"><span>(6–8)</span></h2>
    <p>Beaver Scouts are our youngest members. They usually meet weekly to take part in a wide range of activities including games, crafts, singing, visits and good turns, along with plenty of outdoor activities.</p>

    <p>They will also have the opportunity to take part in the fun and excitement of camps and sleepovers. It may be the first time they spend a night away from home so it’s a real adventure for them.</p>
  </section>
  <section id="sections__cubs">
    <h2><img src="/images/cubs-logo.svg" alt="Cubs"><span>(8–10½)</span></h2>
    <p>A Cub Scout Pack can have up to 36 Cub Scouts and is split into smaller groups called Sixes. Cubs take part in a wide range of activities designed to be interesting and challenging. A Cub Scout meeting consists of games and activities with plenty oftime spent outdoors.</p>

    <p>Camps and holidays are some of the most memorable events of the year for Cubs.</p>
  </section>
  <section id="sections__scouts">
    <h2><img src="/images/scouts-logo.svg" alt="Scouts"><span>(10½–14)</span></h2>
    <p>Each Scout Troop consists of small units of six to eight Scouts called a Patrol, usually led by a Patrol Leader. Outdoor activities feature prominently, with the highlight being camping. Throughout the year, Scouts learn various skills, such as map reading, camp cooking and first aid in preparation for camp.</p>

    <p>Rock climbing, potholing, gliding, photography and international experiences are just some of the things they get up to.</p>
  </section>
</article>