<article id="title">
  <h1>1st Stratton <nobr>St Margaret</nobr> Scout Group</h1>
  <h2>Beaver, Cubs &amp; Scouts</h2>
  <p><b>If you think Scouting’s just about knots, woggles and big shorts, then be prepared to be surprised. It’s all about adventure, new experiences and great memories.</b></p>

  <p>From archery and acting to street sports and zorbing, being a Scout gives you the chance to get stuck into loads of activities you wouldn’t normally get to do. As a Scout, you get to explore the big outdoors and travel to new places and try new things. Sounds better than being stuck in the house with nothing to do, right?</p>
</article>